{% extends "base.html" %}

{% block head %}
	{{ super() }}
	<link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/article.css"/>
{% endblock %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
	<section id="content">
		<article>
			<header>
				<h1 class="entry-title">{{ article.title }}</h1>
				<p class="entry-date">{{ article.date|strftime('%Y-%m-%d') }}</p>
			</header>

			<div class="entry-content">
				{{ article.content }}
			</div>
		</article>
	</section>
{% endblock %}